port: {{HTTP_PORT}}
socks-port: {{SOCKS_PORT}}
allow-lan: true
proxies:
  - name: ucloud
    type: ss
    server: {{SERVER_HOST}}
    port: {{SERVER_PORT}}
    cipher: {{SERVER_METHOD}}
    password: {{SERVER_PASSWORD}}
proxy-groups:
  - name: MyGroup
    type: select
    proxies:
      - ucloud
rules:
  - GEOIP,CN,DIRECT
  - MATCH,MyGroup
